@CHARSET "UTF-8";
body{
	margin:0px;
	overflow:hidden;
}
#form1{
	position:absolute;
	border:1px solid black;
	width:420px;
	height:500px;
	background-color:rgba(119, 243, 257, 0.15);
}
#form1 ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#form1 ul li{
	margin-top:25px;
	margin-left:90px;
}
#form1 input[type="text"], #form1 input[type="password"], #form1 input[type="number"]{
	width:130px;
} 
h1{
	font-family:"新宋体";
	text-align:center;
	margin:0px;
	line-height:2.5;
	background-color:rgba(109, 231, 237, 0.6);
}
hr{
	margin:0px;
}
span{
	color:red;
}